*{
	font-size:16px;
	font-family:微软雅黑;
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none;
}
#main{
	width: 970px;
	background:#272822;
	margin:0 auto;
}

#header{
	width:100%;
	height:50px;
	color:#fff;
	line-height:50px;
}
#header .hleft{
	float:left;
	margin-left:10px;
}
#header .hright{
	float:right;
	margin-right:10px;
}
#header a:hover{
    color:#0ff;
}
#header a{
	color:#fff;
}

#content{
	width:100%;
	/*height:400px;*/
}

#footer{
	width:100%;
	height:50px;
	text-align:center;
	line-height:50px;
}
#footer a{
	color:#fff;
}
#footer a:hover{
	color:#0ff;
}

.nav{
	width:100%;
	height:5px;
	background:#fff;
}

.cfloat{
	clear:both;
}
.adv{
	width:100%;
}
.adv img{
	display:block;
}
.shopclass{
	width:100%;
	margin-top:5px;
}
#content .shopclass:first-child{
	margin-top:0px;
}
.title{
	width:100%;
	height:30px;
	background:#ccc;
	line-height:30px;

}
.brand{
	float:right;
	margin-right:10px;
}
.class{
	margin-left:10px;
}
.shopshow{
	width:100%;
	height:200px;
	background:#555;
}

.more{
	color:red;
}
.shop{
	border:1px dotted #999;
	float:right;
	margin-right:0.5px;

}
.shop img{
	display:block;
}